@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');

body {
  font-family: 'Roboto', sans-serif;
  padding: 1%;
}

a {
  text-decoration: none;
}

ul > li {
  float:left;
  clear:left;
  cursor: pointer;
}