@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');

html {
  display: block;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #551a8b;
}

p {
  margin: 0;
}

ul {
  display: block;
  float: left;
  width: 100%;
}

ul>li {
  float: left;
  clear: left;
  cursor: pointer;
}

li.u-li {
  list-style: none;
}

pre {
  margin: 0;
  padding: 15px;
  background-color: #ad90d7;
  display: block;
  float: left;
}

hr {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  border: 1px dashed #ad90d7;
  margin: 15px 0;
}

.wrapper {
  display: flex;
}

.d-flex-column {
  display: flex !important;
  flex-direction: column;
  width: 90% !important;
}

.m-0 {
  margin: 0;
}

.my-5 {
  margin: 5px 0 !important;
}

.my-15 {
  margin: 15px 0 !important;
}

.my-30 {
  margin: 30px 0 !important;
}

.pillow {
  border-radius: 5px;
  width: auto;
  display: block;
  float: left;
  padding: 5px 10px;
  margin: 15px 0;
  background-color: aliceblue;
}

li.pillow {
  margin: 5px 0;
}

.pillow.success {
  background-color: #48e448;
  color: #fff;
}

.pillow.info {
  background-color: #f56ae9;
  color: #fff;
}

.pillow h1,
.pillow h2,
.pillow h3,
.pillow h4,
.pillow h5,
.pillow h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

.w-100 {
  width: 100%;
}

.absolute-message {
  position: absolute;
  display: block;
  left: 15px;
  bottom: 0;
}

.d-block {
  display: block;
  float: left;
  clear: left;
}

.split-50 {
  display: block;
  float: left;
  width: 50%;
}