<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../styles.css">
  <title>Framework Training</title>
</head>
<body>
  <div style="margin-bottom: 15px;">
    <a href="../index.html"><i class="fa fa-arrow-circle-left"></i> Back to index</a>
  </div>
  <h2>Vue exercise - <em>Teacher Solution</em></h2>
  <div id="app">
    <input type="text" v-model="userHobby">
    <button v-on:click="addHobby">New Hobby</button>
    <div class="d-block w-100">
      <p v-if="hobbyWasDeleted" class="pillow error">Hobby was deleted!</p>
    </div>
    <h3 class="m-0"
        v-bind:style="{ color: hobbies.length > 3 ? 'green' : 'red'}">Hobbies: {{ hobbies.length }}</h3>
    <ul class="unstyled-list">
      
      <app-hobby v-for="hby in hobbies"
                 v-bind:hobby="hby"
                 v-on:hobbyremoved="removeHobby($event)"></app-hobby>
    </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="main.js"></script>
</body>
</html>