/* You can add global styles to this file, and also import other style files */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  //padding: 15px;
  width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #551a8b;
}

ul {
  display: block;
  float: left;
  width: 100%;

  >li {
    float: left;
    clear: left;
    cursor: pointer;
  }
}

.unstyled-list {
  padding-left: 0;

  >li {
    list-style: none;
  }
}

pre {
  margin: 0;
  padding: 15px;
  background-color: #ad90d7;
  display: block;
  float: left;
  border-radius: 5px;
}

button {
  padding: 5px 12px;
  //margin-right: 5px;
}

hr {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  border: 1px dashed #ad90d7;
  margin: 15px 0;
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 5px 0;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

// .d-flex {
//   display: flex;
//   width: 100%;
//   justify-content: flex-start;
//   align-items: center;
// }

// .d-flex-column {
//   display: flex !important;
//   flex-direction: column;
//   width: 90% !important;
// }

.m-0 {
  margin: 0;
}

.my-5 {
  margin: 5px 0 !important;
}

.my-15 {
  margin: 15px 0 !important;
}

.my-30 {
  margin: 30px 0 !important;
}

.pillow {
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  display: block;
  float: left;
  padding: 5px 10px;
  margin: 15px 0;
  background-color: #d4ebff;
}

li.pillow {
  margin: 5px 0;
}

.pillow {
  &.success {
    background-color: #48e448;
    color: #fff;
  }

  &.error {
    background-color: #e4484b;
    color: #fff;
  }

  &.info {
    background-color: #f56ae9;
    color: #fff;
  }

  input {
    color: #551a8b;
  }
}

.red {
  color: #e4484b !important;
}

.green {
  color: #2ab52a !important;
}

.pillow {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.absolute-message {
  position: absolute;
  display: block;
  left: 15px;
  bottom: 0;
}

.d-block {
  display: block;
  float: left;
}

.split-50 {
  display: block;
  float: left;
  width: 50%;
}

.title-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;

  img {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
}

.nav {
  @extend .unstyled-list;
  //@extend .d-flex;
  @extend .w-100;
  text-align: center;
  justify-content: center;
  > * {
    padding: 5px 12px;
    background-color: #dbdbdb;
    border-radius: 5px;
    margin: 0 5px;
  }
}