<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="../styles.css">
  <title>Framework Training</title>
</head>
<body>
  <div class="d-block w-100">
    <div id="app2" class="pillow info my-5">
      <input type="text" class="d-block w-100" v-model="text">
      <div>{{ text }}</div>
    </div>
    <div class="newInstance pillow info d-block my-5" style="bottom: 70px">
      {{ text }}
    </div>
    <div class="newInstance pillow info d-block my-5" style="bottom: 35px">
      {{ text }} -- another instance with the same selector doesn't work
    </div>
    <hr>
  </div>
  <div id="app">
    <div class="split-50">
      <p><span>Hi </span>{{ name }}</p>
      <p class="pillow" v-bind:class="{ success : name !== 'Homero'}">
        <span v-if="name === 'Homero'">🔥 Go ahead and update your name!</span>
        <span v-if="name !== 'Homero'">💚 Name updated!</span>
      </p>
      <div class="d-block">
        <button v-on:click="generateName">Generate name</button>
        <button v-on:click="resetName">Reset name</button>
        <button v-on:click="resetList">Reset list</button>
      </div>
    </div>
    <div class="split-50">
      <div class="d-block w-100">
      <app-vue-component  v-on:itemClicked="itemWasClicked($event)"
                          v-bind:title="'this is a Vue component'">
      </app-vue-component>
    </div>
      <h3>Total names generated: {{ usedNames.length }}</h3>
      <ul>
        <li class="u-li pillow"
            v-for="(el, index) in usedNames"
            v-bind:style="{ backgroundColor: getColor(index)}"
            v-bind:id="'el-id-' + index">{{ el }}</li>
      </ul>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="main.js"></script>
</body>
</html>